body::before {
  display: block;
  content: '';
  height: 60px;

  background-color: #222831;
  color: #eeeeee;
}


/* Color Palette */
.dark-bg-color {
  background-color: #393e46;
}

.secondary-bg-color {
  background-color: #444444;
}


/* Just a thought but decided not to use it */
#top {
  /* background-image: url(./img/my-pic.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/my-pic.jpg");
  background-size: cover;
  background-position: center;
  height: 560px;
  background-attachment: scroll;
}

.header-height {
  height: 65vh;
}

#socials i {
  font-size: 2.5rem;
}